@layer tw-base,
  priority1,
  priority2,
  priority3,
  priority4,
  tw-components,
  tw-utilities;

@layer tw-base {
  @tailwind base;
}

@layer tw-components {
  @tailwind components;
}

@layer tw-utilities {
  @tailwind utilities;
}

@react-strict-dom;
